*{
    padding:10px;
    margin:10px;
}
#nav-main-wrapper
{
    display:flex;
    flex-direction:column;
}
#nav-main-wrapper nav
{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    background-color: #ADD8E6;
    padding:20px;
    box-sizing:border-box;
    margin:0 auto;
}
#p1,#p2,#p3
{
    flex:1;
}
header
{
    width:100%;
    background-color: #ADD8E6;
    height:300px;
}
#logo
{
    float:left;
    width:200px;
    height:200px;
    margin:10px;
}
.content
{
    width:100%;
    margin-top:20px;
}
.cont_nav
{
    width:100%;
    margin-top:20px;
}
footer
{   
    margin-top: 10px;
    background:	#ADD8E6;
}
table
{
    border: 1px solid black;
}
#tr1,#tr3,#tr5
{
   background: green;
}
#tr2,#tr4
{
    background: hotpink;
}
#Links-Table-Forma
{
    display:flex;
    flex-direction:column;
}
#Links
{
   order:1;
   background:	#ADD8E6;
}
#Table
{
    order:3;
    background:	#ADD8E6;
}
#Forma
{
    order:2;
    background:	#ADD8E6;
}
@media screen and (min-width: 1200px) {
    #Links
    {
        order:1;
    }
    #Table
    {
        order:2;
    }
    #Forma
    {
        order:3;
    }
    #nav-main-wrapper
{
    flex-direction:column;
    align-items:center;
}
    .content
     {
     width:960px;
     margin: 0 auto;
     margin-top:10px;
    };
    .cont_nav
    {
       margin:0 auto;
       width:960px;
    }
    #nav-main-wrapper nav
{
    flex-direction:row;
    display:flex;
    WIDTH:960px;
}
}